<footer class="site-footer">

  <div class="wrapper">

    <nav id="site-navigation" class="site-navigation">
      <h2 class="site-navigation-heading">Site Navigation</h2>
      <ul class="site-navigation-menu">
        <li class="site-navigation-menu-item"><a href="/">Home</a>
        <li class="site-navigation-menu-item"><a href="/about">About</a>
          <ul class="site-navigation-menu">
            <li class="site-navigation-menu-item">
              <a href="/about#huend-team">HUE/ND Team</a>
            </li>
            <li class="site-navigation-menu-item">
              <a href="/about#current-projects">Current Projects</a>
            </li>
            <li class="site-navigation-menu-item">
              <a href="/about#future-projects">Future Projects</a>
            </li>
            <li class="site-navigation-menu-item">
              <a href="/about#technology">Technology</a>
            </li>
            <li class="site-navigation-menu-item">
              <a href="/about#campus-partners">Campus Partners</a>
            </li>
            <li class="site-navigation-menu-item">
              <a href="/about#community-partners">Community Partners</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="site-description">
      <p>{{ site.description }}</p>
    </div>

  </div>

</footer>
