<header id="page-top" class="site-header" role="banner">
  <div class="brand-bar">
    <div class="wrapper">
      <a href="http://www.nd.edu">University <i>of</i> Notre Dame</a>
    </div>
  </div>

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">
      <figure class="hue-mark-wrapper">
        <img src="/images/hue-nd-mark.png" srcset="/images/hue-nd-mark-2x.png 2x" alt="HUE logo; grey circle with city plan backdrop">
      </figure>

      <h1>Historic Urban Environments Lab</h1>
    </a>

    <nav class="site-menu">
      <a class="site-menu-link" href="#site-navigation">
        <span class="link-text">Menu</span>
      </a>
    </nav>
  </div>
</header>
