// Reset some basic elements
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}



// Basic styling
html {
  padding-bottom: 20em;
}

body {
  background-color: $background-color;
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

@media screen and (min-width: 68em) {
  body {
    font-size: 20px;
  }
}


// Set `margin-bottom` to maintain vertical rhythm
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



// Images
img {
  max-width: 100%;
  vertical-align: middle;
}



// Figures
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



// Lists
ol,
ul {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}


// Headings
h1,
h2 {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
}

.home h2,
h3,
h4,
h5,
h6,
.site-menu,
.site-navigation-heading,
.back-to-top {
  font-family: $display-typeface;
  font-size: .8em;
  font-weight: 400;
  letter-spacing: .15em;
  line-height: 1.3;
  padding-top: 1em;
  text-transform: uppercase;
}


// Links
a {
  color: darken($brand-color, 15%);
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}



// Blockquotes
blockquote {
  border-left: 4px solid $grey-color-light;
  color: $grey-color;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }
}



// Wrapper
.wrapper {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  padding: 0 1em;
}



// Clearfix
%clearfix {

  &::after {
    clear: both;
    content: '';
    display: table;
  }
}



// Icons
.icon {

  > svg {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;

    path {
      fill: $grey-color;
    }
  }
}
